# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environnements virtuels
venv/
.venv/
env/

# Base de données générée
db/*.db
db/*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml
